@import '../../variables';

:host {
	height: 10em;
	background-color: $primary;
	display: block;
	flex-shrink: 0;
}

.social {
	position: relative;
	top: 2em;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 2em;
	.icon + .icon {
		margin-left: 1em;
	}

	fa-icon:hover {
		cursor: pointer;
		color: $secondary;
	}
}
