<div class="social">
    <fa-icon [icon]="faTwitter" class="icon" (click)="openLink('twitter')" title="Follow me on twitter!"></fa-icon>
    <fa-icon [icon]="faGithub" class="icon" (click)="openLink('github')" title="Checkout my code on github!"></fa-icon>
    <fa-icon [icon]="faLinkedin" class="icon" (click)="openLink('linkedin')" title="Connect on linkedin!"></fa-icon>
    <fa-icon [icon]="faEnvelopeSquare" class="icon" (click)="sendMail()" title="Send me an email!"></fa-icon>
    <!-- <fa-icon [icon]="faIdCard" class="icon" (click)="openLink('resume')" title="Download my resume!"></fa-icon> -->
</div>
