<img class="me" routerLink="/resume" src="https://www.gravatar.com/avatar/98eb359ab77a033c4b4d7d884c193fd7?s=200" alt="me" title="resume" draggable="false" />
<div class="about-me">
	<span class="title">Hello, I'm Jean-François</span>
	<span class="description">I'm a Solutions Engineer at Algolia.<br>You can check my <a routerLink="/resume">Resume</a> and some of my <a routerLink="/projects">Personal
			Projects</a>.</span>
	<span class="quote">« I'm gonna eat your brains and gain your knowledge »</span>
</div>
