@import "../../variables";

:host {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	padding: 2em;

	@media (max-width: 500px) {
		flex-direction: column;
	}
}

.me {
	border-radius: 50%;
	border: 5px solid white;
	outline: none;

	&:hover {
		transform: scale(1.1);
		transition: transform 0.6s cubic-bezier(0.5, 1, 0.89, 1);
		border-color: $secondary;
		cursor: pointer;
	}
}

.about-me {
	max-width: 35em;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	font-size: 1.4em;
	line-height: 1.5em;
	color: $text-color;
	margin-left: 3em;

	@media (max-width: 500px) {
		margin-left: 0;
	}

	.title {
		color: $primary;
		font-size: 2.3em;
		line-height: 1.5em;
		margin-bottom: 0.5em;

		@media (max-width: 500px) {
			font-size: 1.8em;
		}
	}
	.quote {
		border-image-source: linear-gradient(
			to right,
			rgba(0, 0, 0, 0),
			#3f51b5,
			rgba(0, 0, 0, 0)
		);
		border-image-slice: 1 0 0 0;
		border-style: solid;
		border-width: 1px 0 0 0;
		margin: 1em 0;
		padding-top: 0.5em;
	}
}
