<img
    class="me"
    src="https://www.gravatar.com/avatar/98eb359ab77a033c4b4d7d884c193fd7?s=200"
    alt="me"
    title="gritchou"
    draggable="false"
/>
<div class="about-me">
    <span class="title">Hey I'm Jeff!</span
    ><span
        >I am an Experienced Frontend Developer with a strong team mindset and a
        focus on making user sentiment drive product development
    </span>
    <span class="quote"
        >« I'm gonna eat your brains and gain your knowledge »</span
    >
</div>
