@import "../../../variables";

.header {
	display: grid;
	grid-template-columns: 12em auto;
	grid-gap: 2em;
	max-width: 45em;
	margin: 1em 0;
	color: $text-color;

	@media(max-width: 500px) {
		display: flex;
		flex-direction: column;
	}

	.email {
		display: flex;
		justify-content: flex-end;
		align-self: baseline;
		font-size: 1.5em;
		color: $primary;
	}

	.name {
		display: flex;
		align-items: baseline;
		align-self: baseline;
		font-size: 2.5em;
		line-height: 1.5em;
	}

	.job-title {
		color: $primary;
		font-size: 2em;
	}

	@media(max-width: 500px) {
		.email, .name, .job-title {
			margin-bottom: 1em;
		}
		.name {
			font-size: 2.2em;
		}
	}
}

