<div class="experience">
    <div class="date">
        <span>{{ experience.startDate }}</span><span>{{ experience.endDate }}</span>
    </div>
    <div class="header">
        <span class="job-title">{{ experience.jobTitle }}</span>
        <span class="company">{{ experience.company }},</span>
        <span class="location">{{ experience.location }}</span>
    </div>
    <div class="logo">
        <img src="{{ getSrc() }}" alt="{{ experience.company }}" height="64" width="64" />
    </div>
    <ul class="achievements">
        <li *ngFor="let achievement of experience.achievements" class="achievement" [innerHTML]="achievement"></li>
    </ul>
</div>
