@import "../../variables";

:host {
	flex-grow: 1;
	padding: 2em;
	display: grid;
	grid-gap: 1em;
	align-self: center;
	max-width: 360em;
}

.pdf {
	border-radius: 50%;
	color: white;
	background-color: $secondary;
	position: fixed;
	right: 10em;
	top: 6em;
	width: 4em;
	height: 4em;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.5em;
	font-weight: 700;
	box-sizing: border-box;

	&:hover {
		color: $secondary;
		background-color: white;
		border: 6px solid $secondary;
		cursor: pointer;
	}

	@media(max-width: 500px) {
		top: 4em;
		right: 3em;
	}
}
